*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,
main,
footer{
    width: 950px;
    margin: 0 auto;
    max-width: 100%;
}
a{
    text-decoration: none;
}

header{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.menu-list{
    list-style: none;
}
.menu-item{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
article{
    display: inline-block;
    width: 50%;
    padding: 40px;
    text-align: left;
}
article img{
    width: 100%;
}
.category{
    color: honeydew;
}
